<h1>Personen</h1>

<label for="PersonId">Person-ID</label>

<div class="input-group">
      <input type="text" class="form-control" placeholder="Search for..." id ="PersonId" [(ngModel)]="chosenPersonId"/>
      <span class="input-group-btn">
        <input type="button" class="btn btn-default" value="Get PersonId" (click)="getPerson(chosenPersonId)" />
      </span>
    </div><!-- /input-group -->
<div *ngIf="person">
    <h3>Angaben zu {{person.vorname}}</h3>

    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Name</th>
                <th>Vorname</th>
                <th>eMail</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{person.name}}</td>
                <td>{{person.vorname}}</td>
                <td>{{person.eMail}}</td>
            </tr>
        </tbody>
    </table>
</div> 