<h1>Personen</h1>
<br>
<input type="button" class="btn btn-default" value="Alle" (click)="getPersonen()" />
<br>
<br>
<div class="input-group">
    <span class="input-group-addon" id="basic-addon1">Person ID:</span>
    <input type="text" class="form-control" placeholder="Search for..." id ="PersonId" [(ngModel)]="chosenPersonId"/>
    <span class="input-group-btn">
        <input type="button" class="btn btn-default" value="Los!" (click)="getPerson(chosenPersonId)" />
    </span>
</div><!-- /input-group -->
<br>
<div *ngIf="personen">
    <!--h3>Angaben zu {{person.vorname}}</h3-->

    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Name</th>
                <th>Vorname</th>
                <th>eMail</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let person of personen">
                <td>{{person.name}}</td>
                <td>{{person.vorname}}</td>
                <td>{{person.eMail}}</td>
            </tr>
        </tbody>
    </table>
</div> 