<h1>Personen</h1>
<br>
<input type="button" class="btn btn-default" value="Alle" (click)="getPersonen()" />
<br>
<br>
<div class="input-group">
    <span class="input-group-addon" id="basic-addon1">Person ID:</span>
    <input type="text" class="form-control" placeholder="Search for..." id ="PersonId" [(ngModel)]="chosenPersonId"/>
    <span class="input-group-btn">
        <input type="button" class="btn btn-default" value="Los!" (click)="getPerson(chosenPersonId)" />
    </span>
</div><!-- /input-group -->
<br>
<div *ngIf="personen">
    <table class="personen table table-bordered table-hover">
        <thead>
            <tr>
                <th>Geschlecht</th>
                <th>Name</th>
                <th>Vorname</th>
                <th>eMail</th>
                <th>Geburtsdatum</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let person of personen" [class.selected]="person === selectedPerson" (click)="onSelect(person)">
                <td>{{person.geschlecht}}</td>
                <td>{{person.name}}</td>
                <td>{{person.vorname}}</td>
                <td>{{person.eMail}}</td>
                <td>{{person.geburtsdatum}}</td>
            </tr>
        </tbody>
    </table>
    <person-detail [person]="selectedPerson"></person-detail>
</div>
